<div id="accountabilityToolbar">
    <div class="form-inline">      
        <div class="form-group">
            <div class="btn-group">
                <button id="btnShowUpload" type="button"
                        class="btn btn-sm btn-success"
                        data-toggle="modal"
                        data-target="#uploadAccountabilities">
                    <span class="fa fa-upload"></span>
                </button>
            </div>
        </div>      
    </div>
</div>

<table id="tblaccountability" class="table-records">
    <thead>
    <th data-field="StudentNumber">Student #</th>
    <th data-field="Lastname">Lastname</th>
    <th data-field="Firstname">Firstname</th>
    <th data-field="Middlename">Middlename</th>
    <th data-field="Program">Course</th>
    <th data-field="Year">Year Level</th>
    <th data-field="Term">Term</th>
    <th data-field="SchoolYear">A.Y</th>
    </thead>
</table>



